@import url('https://fonts.googleapis.com/css?family=Lato|Simonetta');
html{
    scroll-behavior: smooth;
  }
body{
    font-family: 'Lato', sans-serif;
}
/*-----------------------------Navigation----------------------------------*/
/*header{
	padding: 0 30px 0 30px;
}*/
/* Using https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip{
	width: 40px;
	height: 40px;
	perspective: 1000px;
	padding-top: 30px;
}
.flip2{
	width: 40px;
	height: 40px;
	perspective: 1000px;
	padding-top: 30px;
}
.card{
	position: relative;
	transition: all .7s;
	transform-style: preserve-3d;
}
.card2{
	position: relative;
}
.flip:hover .card{
	transform: rotateY(-180deg);
}
.flip-card:focus .card{
	transform: rotateY(-180deg);
}
.top{
	width: 100%;
	height: 40px;
	text-align: center;
}
.card img{
	width: 40px;
	height: 40px;
}
.card2 img{
	width: 40px;
	height: 40px;
}
.back{
	transform: rotateY(-180deg);
	color:black;
	text-align: center;
}
.back, .front{
	position: absolute;
	align-content: center;
	justify-content: center;
	backface-visibility: hidden;
}
.back h2{
	font-size: 12px;
	background-color: #8F3B76;
	color:#FFFFFF;
}
.nav{
	display:flex;
   	flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    list-style:none;
    overflow: hidden;
    margin-top: 0px;
    padding-top:10px;
}
.nav ul{
	font-family: 'Lato', sans;
	font-size: 16px;
	list-style-type: none;
}
.nav a{
	color:black;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
.nav a:hover{
	opacity: 0.8;
	color: #8F3B76;
	text-decoration: underline;
}
.nav a:focus{
	opacity: 0.7;
}
#current{
	opacity: 1;
	color: #1a1b1f;
	text-decoration: underline;
}

#title{
	font-size: 50px;
	text-align: center;
	font-family:'Simonetta', Lato;
	color: #000000;
}
.title2{
	font-size: 30px;
	text-align: center;
	font-family:'Lato', sans;
	color: #000000;
}
/* referred https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax_percent*/
.box{
	display: flex;
    position: relative;
    z-index: -1;
  	background-attachment: fixed;     
  	background-position: center;  
  	background-repeat: no-repeat; 
  	background-size: cover;       
  	color: #ffffff;
  	height: 400px;                
  	background-image: url("../images/sunset.jpg");
}
.landing {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    align-items: center;
    justify-content: center;
    padding:5px;
}

/*========================Projects========================*/
#mainpage * {
  box-sizing: border-box;
}
.description{
	font-family: 'Lato',sans;
	color:black;
	font-size: 12px;
	text-align: center;
}
.title3{
	font-size: 16px;
	margin:5px;
	text-align: center;
	font-family:'Lato', sans;
	color:black;
	word-break: break-all;
}

body {
  background-color: #f1f1f1;
  padding: 0 20px 0 20px;
}

#main {
  max-width: 100%;
  margin: auto;
}
.work {
  	margin-top: 20px;
}
/*https://www.w3schools.com/howto/howto_css_portfolio_gallery.asp*/
.work,
.work > .container {
	padding:10px;
}
.container {
  float: left;
  width: 100%;
}
.work:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  background-color: white;
  padding: 5px;
}
/*------------------------------Footer------------------------*/
footer{
	margin-top:50px;
	margin-bottom: 50px;
}
.icon{
  	display: flex;
  	/*flex-direction: row;*/
  	justify-content: center;
  	align-items: center;
}
.icon i {
  padding: 15px;
  text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 100ms;
}
.icon i:hover {
  margin-top: -5px;
  text-shadow: 0px 15px 8px rgba(0, 0, 0, 0.3);
}
.email-icon {
  color: #8F3B76;
}
.linkedin {
  color: #8F3B76;
}
.copyright {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  color:#8F3B76;
}

/*------------------------------Skip to content------------------------*/
/*USING https://accessibility.psu.edu/skipnav/skiplinks/*/
a.skip {
position:absolute;
left:-1000px;
top:-1000px;
width:1px;
height:1px;
text-align: left;
overflow:hidden;
}

a.skip:focus, a.skip:active, a.skip:hover {
position:absolute;
left:0;
top:0;
width:auto;
height:auto;
overflow:visible;
background-color:#FFFFFF;
border: 1px solid #000;
}

/*------------------------------About Page------------------------*/
#about *{
	box-sizing: border-box;
}
.about-column {
  float: left;
  width: 100%;
  padding: 10px;
}
.about-column p{
	font-family: 'Lato', sans;
	font-size:22px;
	text-align: center;
}
.about-row:after {
  content: "";
  display: table;
  clear: both;
}
#name{
	font-family: 'Simonetta', sans-serif;
  	color: #8F3B76;
  	font-size: 30px;
  	text-align: center;
}
#tag{
  font-family: 'Lato', sans-serif;
  color: #8F3B76;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  width:100%;
  text-align: center;
  animation: type 1.5s steps(50, start); 
}
#tag:nth-child(2){
  animation: type2 1.5s steps(50, start);
}
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

/* Using https://www.w3schools.com/howto/howto_css_contact_form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
   	resize: vertical;
}

input[type=submit] {
    background-color: white;
    color: #8F3B76;
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contact-container h2{
    padding-top: 10px;
    font-family: 'Simonetta', sans;
    font-size: 25px;
    text-align: center;
}

.form {
  border-radius: 5px;
  background-color: #8F3B76;
  padding: 20px;
  font-family: 'Lato',sans;
  padding-bottom: 30px;
  color:white;
}
.gallery1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gallery1 img{
	width: 400px;
	padding:30px;
/*	filter: drop-shadow(0 0 0.75rem #000000);
	-webkit-filter: drop-shadow(0 0 0.75rem #000000);*/
}
.gallery1 > img:hover{
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-filter: drop-shadow(0 0 10px #D2B0C8);
}

/*------------------------------Resume Page------------------------*/
.margins{
	margin:0;
	padding:0;
}
.timeline{
	position:relative;
	margin: 50px auto;
	padding-bottom: 0;
	width:100%;
	box-sizing: border-box;
}
.timelineh1{
	color: #8F3B76;
	text-align: left;
	font-size: 30px;
}
.timeline:before{
	content: '';
	position: absolute;
	left: 20px;
	width:2px;
	height: 100%;
	background:#8F3B76;
}
.timeline ul{
	margin:0;
	padding:0;
}
.timeline ul li{
	list-style: none;
	position: relative;
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
	width: 100%;
	text-align: left;
	padding-left: 50px;
	padding-bottom: 50px;
	clear: both;
}
.timeline ul li:nth-child(even){
	width: 100%;
	text-align: left;
	padding-left: 50px;
	padding-bottom: 50px;
	clear: both;
}
.rescontent{
	padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before{
	content:'';
	position: absolute;
	top:-18px;
	left:16px;
	width: 10px;
	height: 10px;
	background:#8F3B76;
	border-radius: 50%; 
	box-shadow:0 0 0 3px #D2B0C8;
}
.timeline ul li:nth-child(even):before{
	content:'';
	position: absolute;
	top:-18px;
	left:16px;
	width: 10px;
	height: 10px;
	background:#8F3B76;
	border-radius: 50%; 
	box-shadow:0 0 0 3px #D2B0C8;
}	
.timeline ul li h2{
	margin:0;
	padding: 0;
	font-weight: 600;
	color:#8F3B76;
}
.timeline ul li p{
	margin: 10px 0 0;
	padding:0;
}
.timeline ul li .time h3{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.timeline ul li:nth-child(odd) .time{
	position: absolute;
	top: -30px;
	left: 50px;
	margin: 0;
	padding: 8px 16px;
	background: #8F3B76;
	color:#FFFFFF;
	border-radius: 18px;
	box-shadow: 0 0 0 3px #D2B0C8;
}
.timeline ul li:nth-child(even) .time{
	position: absolute;
	top: -30px;
	left: 50px;
	margin: 0;
	padding: 8px 16px;
	background: #8F3B76;
	color:#FFFFFF;
	border-radius: 18px;
	box-shadow: 0 0 0 3px #D2B0C8;
	}
/*------------------------------Other Page------------------------*/
#art{
	font-size: 30px;
	text-align: center;
	color:#8F3B76;
    letter-spacing: .3em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gallery img{
	width: 400px;
	padding:30px;
/*	filter: drop-shadow(0 0 0.75rem #000000);
	-webkit-filter: drop-shadow(0 0 0.75rem #000000);*/
}
.gallery > img:hover{
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-filter: drop-shadow(0 0 10px #D2B0C8);
}
/*============================MEDIA QUERY=================*/
@media screen and (min-width: 850px) {
	#title{
	font-size: 50px;
	text-align: center;
	font-family:'Simonetta', Lato;
	color: #000000;
	}
	.title2{
	font-size: 28px;
	text-align: center;
	font-family:'Lato', sans;
	color: #000000;
	}
	.description{
	font-family: 'Lato',sans;
	color:black;
	font-size: 18px;
	text-align: center;
	}
	.title3{
	font-size: 22px;
	margin:5px;
	text-align: center;
	font-family:'Lato', sans;
	color:black;
	word-break: break-all;
	}
	.about-column {
	    width: 50%;
	}
	.timeline{
		width: 100%;
	}
	.timelineh1{
		font-size: 40px;
		text-align: center;
	}
  	.gallery{
    grid-template-columns: 1fr 1fr;
  	}
  	#name{
  		font-size: 40px;
  	}
	#tag{
		font-size: 30px;
	}
}
@media screen and (min-width: 1024px) {
	#title{
	font-size: 50px;
	text-align: center;
	font-family:'Simonetta', Lato;
	color: #000000;
	}
	.title2{
	font-size: 28px;
	text-align: center;
	font-family:'Lato', sans;
	color: #000000;
	}
	.description{
	font-family: 'Lato',sans;
	color:black;
	font-size: 18px;
	text-align: center;
	}
	.title3{
	font-size: 22px;
	margin:5px;
	text-align: center;
	font-family:'Lato', sans;
	color:black;
	word-break: break-all;
	}
	.container {
	    width: 50%;
	}
	.about-column {
	    width: 50%;
	}
	.parallax {
	    background-attachment: scroll;
	}
	.gallery{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
	}
	.gallery1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
	}
	.nav{
	    flex-direction: row;
	    justify-content: flex-end;;
	}
	.timelineh1{
		font-size: 60px;
		text-align: center;
	}
	.timeline{
		padding: 40px 0;
		width:1000px;
	}
	.timeline:before{
		left: 50%;
	}
	.timeline ul li{
		width: 50%;
	}
	.timeline ul li:nth-child(odd){
		float: left;
		text-align: right;
		clear: both;
		width: 50%;
	}
	.timeline ul li:nth-child(even){
		float: right;
		text-align: left;
		clear: both;
		width: 50%;
	}
	.timeline ul li:nth-child(odd):before{
		top:24px;
		right:-6px;
		left:inherit;
	}
	.timeline ul li:nth-child(even):before{
		top:24px;
		left:-4px;
	}	
	.timeline ul li:nth-child(odd) .time{
		top: 12px;
		right: -165px;
		left:inherit;
	}
	.timeline ul li:nth-child(even) .time{
		top: 12px;
		left: -165px;
	}
	#art{
	font-size: 60px;
	}
	#name{
		font-size: 60px;
	}
	#tag{
		font-size: 35px;
	}

@media (prefers-reduced-motion: reduce){
    .card{
      transform: none !important;
    }
    a.skip{
        -webkit-transition: none !important;
        transform: none !important; 
      }
    html{
        scroll-behavior: auto;
    }
    #tag{
    	animation: none !important;
        transition: none !important; 
    }
  }

